<div class="row">
  <div ng-show="infoMsg" data-alert class="alert-box">
    {{infoMsg}}
    <a href="#" class="close">&times;</a>
  </div>
  <div ng-show="errorMsg" data-alert class="alert-box warning">
    {{errorMsg}}
    <a href="#" class="close">&times;</a>
  </div>
</div>

<form name="purchaseForm">

  <div class="row">
    <fieldset>
      <legend>Register a purchase</legend>

      <label>
        Price
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">{{userCurrency}}</span>
          </div>
          <div class="small-10 columns">
            <input type="number" min="0" ng-model="amount" required>
          </div>
        </div>
      </label>

      <label>
        Tags (optional)
        <input type="text" maxlength="50" ng-model="tags" placeholder="e.g. coffee,drink">
      </label>
    </fieldset>
  </div>

  <div class="row">
    <button ng-disabled="purchaseForm.$invalid" ng-click="submitPurchase()">Submit</button>
  </div>

</form>

