<div class="row">
  <div ng-show="infoMsg" data-alert class="alert-box">
    {{infoMsg}}
    <a href="#" class="close">&times;</a>
  </div>
  <div ng-show="errorMsg" data-alert class="alert-box warning">
    {{errorMsg}}
    <a href="#" class="close">&times;</a>
  </div>
</div>

<form name="purchaseForm">

  <div class="row">
    <fieldset>
      <legend>Register a purchase</legend>

      <label>
        Price
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">{{userCurrency}}</span>
          </div>
          <div class="small-10 columns">
            <input type="number" min="0" step="any" ng-model="amount" required>
          </div>
        </div>
      </label>

      <label>
        Tags (optional)
        <input type="text" maxlength="50" ng-model="tags" placeholder="e.g. coffee,drink">
      </label>
    </fieldset>
  </div>

  <div class="row">
    <button ng-disabled="purchaseForm.$invalid" ng-click="submitPurchase()">Submit</button>
  </div>

</form>

<div class="row" ng-show="recentPurchases.length > 0">
  <hr/>
  <h3>Recent purchases</h3>

  <table>
    <thead>
      <tr><th>Date</th><th>Amount</th><th>Tags</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="purchase in recentPurchases">
        <td>{{purchase.createdAt | date:short}}</td>
        <td>{{userCurrency}} {{purchase.amount}}</td>
        <td>
          <span ng-repeat="tag in purchase.tags"><span class="radius label">{{tag.name}}</span>&nbsp;</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
