script(type="text/javascript" src={uri("/assets/vendor/jquery/jquery.min.js")})
script(type="text/javascript" src="https://oauth.io/auth/download/latest/oauth.js")
script(type="text/javascript" src={uri("/assets/vendor/angular/angular.js")})
script(type="text/javascript" src={uri("/assets/vendor/angular-route/angular-route.js")})
script(type="text/javascript" src={uri("/assets/app/auth.js")})
script(type="text/javascript" src={uri("/assets/app/app.js")})

div(ng-app='app')
  div(ng-include="'partials/header.tmpl.html'")
  div(ng-view)

